*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    height: 400px;
    background-color: black;
    color: white;
    margin: 200px auto 0;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px 4px #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid white;
}
.input-section{
    font-size: 20px;
    padding: 0 35px;
}
.input-section input,#btn{
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
}
#btn{
    background-color: #2facde;
    color: white;
}
.result{
    padding: 25px;
}
